$icon-font-path: "../modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-custom-var";
@import "bootstrap";
@import "styles";

.box-menu {
  @extend .row;
  >div {
    @extend .col-xs-4;
    padding: 0;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.1) inset;
    // background-color: $brand-primary;
    &:hover {
      // color: $text-color;
      // background-color: lighten($brand-primary, 5%);
      background-color: $brand-primary;
    }
    a {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      // color: #fff;
      padding: 24px;
      min-height:150px;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
      &:hover:after {
        color: #fff;
      }
      &:after {
        color: $brand-primary;
        // position: relative;
        // top: 1px;
        // display: inline-block;
        // font-family: 'Glyphicons Halflings';
        // font-style: normal;
        // font-weight: normal;
        // line-height: 1;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        // position: relative;
        position: absolute;
        // top: 2px;
        bottom: 12px;
        right:  12px;
        display: block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        // font-size: 32px;
        content: "\e258";
        font-size: 32px;
      }
    }
  }
}
