<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}

    <div class="jumbotron" style="background-image: url({{ $.Site.BaseURL }}images/default.jpg);">
      <h1>{{ .Site.Title }}</h1>
      <p>サイト説明</p>
    </div>

	<div class="container">
		<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>

		<h2>サブタイトル</h2>
		<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		<br>

		<div class="media">
			<h2 class="media-heading">サブタイトル</h2>
			<div class="media-left pull-right">
				<a href="#">
					<img class="media-object cont-img" src="/images/default.jpg" alt="...">
				</a>
			</div>
			<div class="media-body">
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<br>

				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<br>

				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<br>
			</div>
		</div>

		<h2>サブタイトル</h2>
		<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		<br>

		<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		<br>

		<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		<br>
	</div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">

          <div class="row">
            {{ range $key, $value := .Paginator.Pages }}
            {{ if lt $key 4 }}
            <div class="col-sm-6">
              {{ .Render "grid" }}
            </div>
            {{ else }}
            <div class="col-sm-4">
              {{ .Render "grid" }}
            </div>
            {{ end }}
            {{ end }}
          </div>

          {{ partial "pagination.html" . }}

        </div>

        <div class="col-md-3">
          {{ partial "sidebar.html" . }}
        </div>

      </div>

    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
